name: ToDo App CI

on:
  push:
    branches:
      - main
      - master
      - test-branch
      # Trigger on any branch starting with test
      - 'test*'
  pull_request:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      working-directory: ./testaus-todo
      run: npm ci

    - name: Run Unit Tests
      working-directory: ./testaus-todo
      run: npm test

    - name: Run E2E Tests
      uses: cypress-io/github-action@v6
      with:
        working-directory: ./testaus-todo
        install: false
        start: npm start
        wait-on: 'http://localhost:5173'
